p,
h3,
a {
	font-family: "Dosis";
}

.title {
	margin-bottom: 3rem;
	font-size: 1.3rem;
	font-weight: 500;
	font-family: "Dosis";
	text-transform: uppercase;
	letter-spacing: 3px;
}

.heroWrapper__container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 2rem;
	align-items: center;
}

.bgImg {
	place-self: center;
}

.bgImg {
	width: 300px;
	height: 300px;
	border-radius: 50%;
	box-shadow: 0 4px 12px rgb(158, 157, 157);
	border: 4px solid #fff;
}

.profileImg {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	object-fit: cover;
}

.heroWrapper__bio1 {
	line-height: 2rem;
}

.heroWrapper__bio1 > span {
	display: block;
	padding-top: 0.5rem;
}

.heroWrapper__btn {
	text-decoration: none;
	padding: 10px 36px;
	color: #666;
	background-color: #cfcfcf;
	letter-spacing: 1px;
}

.heroWrapper__btn:hover {
	color: black;
}

@media (max-width: 1000px) {
	.heroWrapper__container {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 830px) {
	.heroWrapper__container {
		grid-template-columns: repeat(1, 1fr);
	}
}
