@import "tailwindcss";

@font-face {
  font-family: "Geo";
  /* src: url("fonts/Geo-Regular.ttf"); */
  src: url("../public/fonts/Geo-Regular.ttf");
}

@theme {
  --font-custom: "Geo", sans-serif;
}

@layer base {
  body {
    font-family: var(--font-custom);
    /* background-color:#Daf5f0; */
    background-color: #FFDB58;
  }
}
